@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",
    sans-serif;
}
body {
  font-family: poppins;
	font-size: 16px;
	color: #fff;
}
.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
	margin: auto auto;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 40vw;
	height: 60vh;
}
.wrapper::before{
  background-image: url("../images/bgforconfirm.jpg");
	width: 100%;
	height: 100%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(2px);
}
.wrapper
  form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
.form
  header {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 30px;
    text-align: center;
    color: #fff;
}
form
  input {
  height: 60px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #fff;
 
  }

  #loginbtn{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    height: 60px;
    outline: none;
    border: none;
    color: rgb(11, 47, 211);
    border-radius: 8px;
    text-align: center;
    background: #9cabd4;
    width: 35.5vw;
  }
  
span{
  display:none;
  color:red;
}
.mystyle {
  width: 100%;
  padding-top: 25px;
  color: rgb(100, 4, 4);
  font-size: 3rem;
} 

  